table.buttons tr td{
  width: 10px;
  /*height: 50px;*/
}

td.button.buttonPressed{
  background-color: lightcoral;
}

td.coil.coil_on{
  background-color: firebrick;
}

td.lamp.lamp_on{
  background-color: red;
}
td.lamp.lamp_off{
  background-color: white;
}
td.lamp.lamp_flash_fast{
  background-color: coral;
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1.7s; 
}

td.lamp.lamp_flash_slow{
  background-color: burlywood;
}